body {
    width: 50%;
    margin: auto;
    text-align: center;

    background-color: rgb(255, 223, 164);
}
main {
    display: flex;
}

form {
    background-color: rgb(255, 205, 111);

    width: 60%;
}

aside {
    background-color: rgb(255, 205, 111);

    width: 50%;

    padding: 5px;

    position: relative;

    text-align: center;
    justify-content: center;
}

#pizza {
    margin: auto;

    background-color: aliceblue;
}

.pizzaImg {
    /* overlap each img */
    position: absolute;
    top: 10vh;
    left: 2vw;

    /* prevent antialiasing (which caused pizza to be blurry at large sizes) https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/image-rendering */
    image-rendering: crisp-edges;

    margin: auto;
    text-align: center;
}

#message {
    /* show at bottom (thank you https://stackoverflow.com/a/526041) */
    position: absolute;
    bottom: 5vw;
}
